interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/quota?limit=5&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":1302,"limit":5,"offset":0},"data":[{"id":1,"user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"value":100000,"valueInMasterCurrency":100000,"month":1,"currencyRate":1,"currency":null,"year":2009,"date":"2009-01-01T00:00:00Z"},{"id":4,"user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"value":0,"valueInMasterCurrency":0,"month":7,"currencyRate":1,"currency":null,"year":2010,"date":"2010-07-01T00:00:00Z"},{"id":1,"user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"value":100000,"valueInMasterCurrency":100000,"month":3,"currencyRate":1,"currency":null,"year":2009,"date":"2009-03-01T00:00:00Z"},{"id":84,"user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"value":200000,"valueInMasterCurrency":200000,"month":8,"currencyRate":1,"currency":null,"year":2012,"date":"2012-08-01T00:00:00Z"},{"id":84,"user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"value":200000,"valueInMasterCurrency":200000,"month":7,"currencyRate":1,"currency":null,"year":2012,"date":"2012-07-01T00:00:00Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"525-Yrdyr9x1O8fnFxMr63Ttz9baCI0"
    status:
      code: 200
      message: OK
version: 1
