interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/ProjectPlanStatus?limit=10&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":3,\"limit\":10,\"offset\":0},\"data\":[{\"id\":1,\"name\":\"I
        fas\",\"category\":\"ON_TRACK\",\"isDefault\":true,\"regDate\":\"2024-12-17T18:15:54.000Z\",\"regBy\":0,\"modDate\":\"2024-12-17T18:15:54.000Z\",\"modBy\":0},{\"id\":2,\"name\":\"Risk
        f\xF6r f\xF6rdr\xF6jning\",\"category\":\"NEEDS_ATTENTION\",\"isDefault\":false,\"regDate\":\"2024-12-17T18:15:54.000Z\",\"regBy\":0,\"modDate\":\"2024-12-17T18:15:54.000Z\",\"modBy\":0},{\"id\":3,\"name\":\"Ur
        fas\",\"category\":\"AT_RISK\",\"isDefault\":false,\"regDate\":\"2024-12-17T18:15:54.000Z\",\"regBy\":0,\"modDate\":\"2024-12-17T18:15:54.000Z\",\"modBy\":0}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"236-2MKt1V4Amd22HhHvfs2DCRkIlRs"
    status:
      code: 200
      message: OK
version: 1
