interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contractAccepted?limit=10&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"1298f5be2e536b10d0fb98651e5b1d2c3b246c94ef016e95f7d53a0762e7a91f5ff8359a1dc801e42d719b7f0ea13fa7","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-w+pGLzRbnlcE9ve7PGLb20OOcdU"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '33'
      X-RateLimit-Reset:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contractAccepted?limit=10&offset=0
  response:
    body:
      string: '{"error":{"key":"ServerError","code":500,"errorCode":3,"msg":"Server
        error"},"metadata":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d-TO3Rk5Vx13SlaCBEN7s1AOtO31I"
    status:
      code: 500
      message: Internal Server Error
version: 1
