interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/formSubmits?limit=1&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"e66cac0d7ffbf3966a4707f72f7078d5caf5749193645b802bb323bc74b665563b97869f27f729c7012be923fece2282","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-olBs9icAmp16HMooAMCGJus1CSw"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '38'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/formSubmits?limit=1&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":253,\"limit\":1,\"offset\":0},\"data\":[{\"id\":16,\"formId\":7,\"form\":{\"id\":7,\"title\":\"H\xE4mta
        eBook\",\"name\":\"Ladda ner eBook\",\"landingPageBody\":null},\"contact\":{\"journeyStep\":\"pipeline\",\"name\":\"Alfred
        Schneider\",\"id\":595,\"email\":\"alfred.schneider@example.com\"},\"client\":{\"journeyStep\":\"pipeline\",\"name\":\"AstraZeneca
        AB\",\"assigned\":{\"regDate\":\"2025-11-18T13:18:50Z\",\"user\":{\"role\":{\"name\":\"Nordic
        Sales\",\"id\":1},\"name\":\"Gustav Pettersson\",\"id\":1,\"email\":\"demo_se@upsales.com\"}},\"id\":94,\"users\":[{\"name\":\"Lisa
        Henriksson\",\"id\":7,\"role\":{\"name\":\"DACH Sales\",\"id\":2},\"email\":\"demo_2@upsales.com\"}],\"userRemovable\":true,\"userEditable\":true,\"dunsNo\":\"353951254\",\"prospectingId\":\"SE.1.5560117482\",\"hasActivity\":\"2025-12-21T15:00:00.000Z\",\"hadActivity\":\"2025-12-06T10:48:58.000Z\",\"hasAppointment\":null,\"hadAppointment\":null,\"hasOpportunity\":null,\"hadOpportunity\":\"2014-12-12T00:00:00.000Z\",\"hasOrder\":null,\"hadOrder\":\"2023-11-13T00:00:00.000Z\",\"hasMail\":true,\"hasForm\":true,\"hasVisit\":false,\"processedBy\":{\"entityType\":\"Activity\",\"id\":1619,\"date\":\"2025-12-21T15:00:00.000Z\",\"time\":\"16:00:00\",\"user\":{\"id\":1,\"name\":\"Gustav
        Pettersson\",\"active\":1}}},\"score\":10,\"regDate\":\"2025-08-23T09:08:42Z\",\"processedDate\":\"2025-08-23T09:08:42Z\",\"fieldValues\":[{\"name\":\"Contact.email\",\"value\":\"sofia.bley-claesson@astrazeneca.com\"}],\"userRemovable\":true,\"userEditable\":true,\"visit\":null,\"brandId\":1}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"57b-F3PAMRTporx32ndWPqt7RSWzX/A"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/formSubmits/16
  response:
    body:
      string: "{\"error\":null,\"data\":{\"id\":16,\"formId\":7,\"form\":{\"id\":7,\"title\":\"H\xE4mta
        eBook\",\"name\":\"Ladda ner eBook\",\"landingPageBody\":null},\"contact\":{\"journeyStep\":\"pipeline\",\"name\":\"Alfred
        Schneider\",\"id\":595,\"email\":\"alfred.schneider@example.com\"},\"client\":{\"journeyStep\":\"pipeline\",\"name\":\"AstraZ[...]
