interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/clientcategories?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":4,"limit":100,"offset":0},"data":[{"id":5,"name":"Enterprise","categoryType":0,"roles":[]},{"id":6,"name":"VIP","categoryType":0,"roles":[]},{"id":7,"name":"SMB","categoryType":0,"roles":[]},{"id":8,"name":"Hot
        Leads","categoryType":0,"roles":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"11a-FjbHQIm2BNEihrzrMW8DN7S1urs"
    status:
      code: 200
      message: OK
version: 1
