interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/activitytypes/activity?limit=10&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":2,"limit":10,"offset":0},"data":[{"id":1234567893,"name":"Todo","roles":[],"hasOutcome":0},{"id":1234567894,"name":"Phonecall","roles":[],"hasOutcome":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bd-KE2Xqj3jX6vfbZc9uAjgkzoSoXI"
    status:
      code: 200
      message: OK
version: 1
