interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/journeySteps
  response:
    body:
      string: "{\"data\":[{\"name\":\"Lead\",\"value\":\"lead\",\"priority\":1,\"color\":\"#B254E0\",\"colorName\":\"bright-purple\"},{\"name\":\"Marketing
        Qualified Lead (MQL)\",\"value\":\"mql\",\"priority\":2,\"color\":\"#721A94\",\"colorName\":\"purple\"},{\"name\":\"Tilldelad\",\"value\":\"assigned\",\"priority\":3,\"color\":\"#4A90E2\",\"colorName\":\"bright-blue\"},{\"name\":\"Sales
        Qualified Lead (SQL)\",\"value\":\"sql\",\"priority\":4,\"color\":\"#3367C0\",\"colorName\":\"medium-blue\"},{\"name\":\"Pipeline\",\"value\":\"pipeline\",\"priority\":5,\"color\":\"#002F65\",\"colorName\":\"blue\"},{\"name\":\"F\xF6rlorad
        aff\xE4rsm\xF6jlighet\",\"value\":\"lost_opportunity\",\"priority\":6,\"color\":\"#6B7C93\",\"colorName\":\"grey-10\"},{\"name\":\"Kund\",\"value\":\"customer\",\"priority\":7,\"color\":\"#5CB85C\",\"colorName\":\"bright-green\"},{\"name\":\"Diskvalificerad\",\"value\":\"disqualified\",\"priority\":8,\"color\":\"#D33F42\",\"colorName\":\"red\"},{\"name\":\"F\xF6rlorad
        kund\",\"value\":\"lost_customer\",\"priority\":9,\"color\":\"#6B7C93\",\"colorName\":\"grey-10\"}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"395-bD33EO9Ux4/GDBpe1E7qFJo5LAw"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '187'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
[...]
