interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/salesCoaches?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":1,"limit":100,"offset":0},"data":[{"name":"Upsales
        Sales Coaching","active":true,"budgetActive":true,"nextStepActive":true,"nextStepOnlyAppointments":true,"solutionActive":true,"decisionMakersActive":true,"decisionMakersType":null,"timeframeActive":true,"timeframeStages":[],"solutionStages":[],"budgetStages":[],"regDate":"2021-06-14T00:00:00.000Z","modDate":null,"modBy":0,"regBy":0,"id":1,"users":[],"roles":[],"decisionMakersTitles":[{"titleId":4,"id":1,"salesCoachId":1}],"decisionMakersStages":[],"checklist":[],"decisionMakers":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"23e-zDwqZrh9U4uFvWov01WgyOySFik"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '192'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/salesCoaches?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":1,"limit":100,"offset":0},"data":[{"name":"Upsales
        Sales Coaching","active":true,"budgetActive":true,"nextStepActive":true,"nextStepOnlyAppointments":true,"solutionActive":true,"decisionMakersActive":true,"decisionMakersType":null,"timeframeActive":true,"timeframeStages":[],"solutionStages":[],"budgetStages":[],"regDate":"2021-06-14T00:00:00.000Z","modDate":null,"modBy":0,"regBy":0,"id":1,"users":[],"roles":[],"decisionMakersTitles":[{"titleId":4,"id":1,"salesCoachId":1}],"decisionMakersStages":[],"checklist":[],"decisionMakers":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"23e-zDwqZrh9U4uFvWov01WgyOySFik"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '191'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
version: 1
