interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/customFields/product
  response:
    body:
      string: '{"error":null,"metadata":{"total":2,"limit":1000,"offset":0},"data":[{"id":1,"name":"Artikelnummer","dropdownDefault":null,"datatype":"String","default":null,"lookupField":0,"sortId":0,"visible":1,"editable":0,"locked":0,"query":null,"obligatoryField":0,"searchable":0,"maxLength":65535,"alias":"FORTNOX_ID","viewonly":0,"roles":[],"categories":[],"tooltip":null,"integrationDependency":null},{"id":2,"name":"Kategori","dropdownDefault":null,"datatype":"Select","default":["hje","bhfej","ger"],"lookupField":0,"sortId":0,"visible":1,"editable":1,"locked":0,"query":null,"obligatoryField":0,"searchable":0,"maxLength":65535,"alias":null,"viewonly":0,"roles":[],"categories":[],"tooltip":null,"integrationDependency":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2d2-s/dVTG8qO8k0d/j4l3nypYoMlns"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '195'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
