interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/customFields/product
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"6833de9669f8aceb0bdba9906e37fc0269a2771357f6e845ce192d9a76fd148335291a13a28b545d8033996317ab2dd7","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-nL2+xAr5iS6QEySrTzTRoQedH4k"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '32'
      X-RateLimit-Reset:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/customFields/product
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":1000,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"47-/eck/AbTJwmT3UL63LDh1g/xf3A"
    status:
      code: 200
      message: OK
version: 1
