interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/customFields/contact
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"08d097cded39dd52b997d0820c03b80b91d2ed62a8df584f3e92c2fc9352e154ca234f64c2aecca76598770fa1b02313","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-xWRqblYIsi8KDnQL4o+ISPrWo4w"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '34'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/customFields/contact
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":1000,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"47-/eck/AbTJwmT3UL63LDh1g/xf3A"
    status:
      code: 200
      message: OK
version: 1
