interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/customFields/order
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"bed43f954dd0b380d798103646ea2042455e517f83fcdd5c307a5d0959a7e120c5a8ad6f25cbbdac0920d05d48db7e54","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-tkhb69zj/x0FdsBv3d9KMLx11TQ"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '33'
      X-RateLimit-Reset:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/customFields/order
  response:
    body:
      string: '{"error":null,"metadata":{"total":4,"limit":1000,"offset":0},"data":[{"id":2,"name":"Id","dropdownDefault":null,"datatype":"String","default":null,"lookupField":0,"sortId":0,"visible":0,"formulaVisible":1,"editable":0,"locked":0,"query":null,"formula":null,"obligatoryField":0,"searchable":0,"maxLength":65535,"alias":null,"viewonly":0,"formGroup":null,"roles":[],"stages":[],"tooltip":null,"integrationDependency":null},{"id":4,"name":"Startdatum","dropdownDefault":[""],"datatype":"Date","default":"","lookupField":0,"sortId":0,"visible":1,"formulaVisible":1,"editable":1,"locked":0,"query":null,"formula":null,"obligatoryField":0,"searchable":0,"maxLength":65535,"alias":null,"viewonly":0,"formGroup":null,"roles":[],"stages":[],"tooltip":null,"integrationDependency":null},{"id":5,"name":"Slutdatum","dropdownDefault":[""],"datatype":"Date","default":"","lookupField":0,"sortId":0,"visible":1,"formulaVisible":1,"editable":1,"locked":0,"query":null,"formula":null,"obligatoryField":0,"searchable":0,"maxLength":65535,"alias":null,"viewonly":0,"formGroup":null,"roles":[],"stages":[],"tooltip":null,"integrationDependency":null},{"id":6,"name":"Order
        Import","dropdownDefault":null,"datatype":"String","default":null,"lookupField":0,"sortId":0,"visible":0,"formulaVisible":1,"editable":0,"locked":0,"query":null,"formula":null,"obligatoryField":0,"searchable":0,"maxLength":65535,"alias":null,"viewonly":0,"formGroup":null,"roles":[],"stages":[],"tooltip":null,"integrationDependency":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d7-poGEpwPFkN8Lr0tSKuaTB8sNoAU"
    status:
      code: 200
      message: OK
version: 1
