interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/customFields/contact
  response:
    body:
      string: '{"error":null,"metadata":{"total":1,"limit":1000,"offset":0},"data":[{"id":1,"name":"Test
        Custom","dropdownDefault":null,"datatype":"String","default":"","lookupField":0,"sortId":-1,"visible":1,"editable":1,"locked":0,"query":null,"obligatoryField":0,"searchable":0,"maxLength":1024,"alias":null,"viewonly":0,"formGroup":null,"roles":[],"tooltip":null,"integrationDependency":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"17f-LxbI87xUN20eucDUU5j9V1oc+2M"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '197'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
version: 1
