interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/esigns?limit=5&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"73d045d14c04fa503cffca3009a27001106baa16ff581a3f44864b54f4ebcb2a88be2891a787a45d43f39322ff037248","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-zJtcGM/Ti/ptObOMFqm18HVXfNc"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '20'
      X-RateLimit-Reset:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/esigns?limit=5&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":5,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"44-GVoB84C1iyAdgIWVrEbl2ZjgNyc"
    status:
      code: 200
      message: OK
version: 1
