interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/esigns?limit=5&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"b3ed602b64ad6195aba228a15ab3bcd8cde4db68c218f491d013a664ef6de94dd8c801fd0a1f8c011190521e024b104d","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-gQk0Zekb3AmI+kkdRKk7tcRn7rw"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '34'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/esigns?limit=5&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":5,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"44-GVoB84C1iyAdgIWVrEbl2ZjgNyc"
    status:
      code: 200
      message: OK
version: 1
