interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/esigns?limit=20&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"530fb5a3d0e1a937032c8b3eb0c62ce0eb7be8b14aaea0a9395860249c3aa415cc664568e985aad432b8c806a5adf093","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-U2nhvDRiMa7GD79XBklW1Ycmews"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '39'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/esigns?limit=20&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":20,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"45-JfQGux6Zj170WNBdF8UhBckwjx4"
    status:
      code: 200
      message: OK
version: 1
