interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/esigns?limit=10&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"6c920a1b3d5d8116081e108be885107b8ccaf295b913333cb13af3374987eafbaa4aedb7c7df98c4ce42437184b8dec3","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-yfsfEoC7wNjrQq6t9BWlSceqi90"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '36'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/esigns?limit=10&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":10,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"45-GY1misNiSWF9fmKDSWtAOuRG5ZY"
    status:
      code: 200
      message: OK
version: 1
