interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/tickets?limit=1&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":9,\"limit\":1,\"offset\":0},\"data\":[{\"id\":13,\"title\":\"New
        Title\",\"resolveDate\":\"2024-10-30T08:44:40.000Z\",\"lastUpdated\":\"2024-05-06T08:03:27.000Z\",\"source\":null,\"regDate\":\"2024-05-06T08:03:27.000Z\",\"modDate\":\"2025-12-02T10:07:00.000Z\",\"modBy\":13,\"isMultiMatch\":false,\"isArchived\":false,\"isPending\":false,\"isRead\":true,\"priority\":0,\"emailUsed\":\"demosupport@upsales.com\",\"firstReplyDate\":null,\"firstResolveDate\":\"2024-10-30T08:44:40.000Z\",\"snoozeDate\":null,\"relatedTicketId\":null,\"agreementId\":null,\"mergedWithId\":null,\"unreadComments\":0,\"customStatusSort\":5,\"client\":{\"id\":248,\"name\":\"AB
        Volvo\",\"journeyStep\":\"pipeline\",\"active\":true,\"users\":[],\"operationalAccount\":null},\"user\":{\"id\":1,\"name\":\"Gustav
        Pettersson\"},\"contact\":{\"id\":1974,\"name\":\"Lionel Lenz\",\"phone\":\"0748-4546195\",\"cellPhone\":\"0172-1694645\",\"email\":\"lionel.lenz@example.com\",\"title\":\"Personalansvarig\"},\"status\":{\"id\":2,\"name\":\"St\xE4ngd\",\"closed\":true},\"type\":{\"id\":4,\"name\":\"Produktfr\xE5gor\"},\"regBy\":{\"id\":1,\"name\":\"Gustav
        Pettersson\"},\"custom\":[],\"involved\":[{\"type\":\"TO\",\"email\":\"lionel.lenz@example.com\",\"contact\":{\"id\":1974,\"name\":\"Lionel
        Lenz\",\"phone\":\"0748-4546195\",\"cellPhone\":\"0172-1694645\",\"email\":\"lionel.lenz@example.com\",\"title\":\"Personalansvarig\"}}],\"externalContacts\":[],\"multiMatchClientContacts\":[],\"mergedTickets\":[],\"directlyMergedTicketIds\":[]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"550-lBLohke0aFFnr5Iy3GyvSWlhJ74"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/tickets/13
  response:
    body:
      string: "{\"error\":null,\"metadata\":null,\"data\":{\"id\":13,\"title\":\"New
        Title\",\"resolveDate\":\"2024-10-30T08:44:40.000Z\",\"lastUpdated\":\"2024-05-06T08:03:27.000Z\",\"source\":null,\"regDate\":\"2024-05-06T08:03:27.000Z\",\"modDate\":\"2025-12-02T10:07:00.000Z\",\"modBy\":13,\"isMultiMatch\":false,\"isArchived\":false,\"isPending\":false,\"isRe[...]
