interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/products?limit=1&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":17,"limit":1,"offset":0},"data":[{"id":2,"name":"Exempelprodukt","listPrice":10000,"active":0,"category":null,"sortId":0,"recurringInterval":null,"isMultiCurrency":0,"isRecurring":0,"custom":[],"userRemovable":true,"userEditable":true,"roles":[],"currencies":[],"tiers":[],"purchaseCost":0,"articleNo":null,"importId":null,"bundle":[],"bundlePriceAdjustment":null,"bundlePriceAdjustmentType":null,"bundleFixedPrice":false,"bundleEditable":false,"description":null,"projectPlanTemplate":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"20f-V2VekBV/ElD3y6y1a5T5rfj3fKM"
    status:
      code: 200
      message: OK
version: 1
