interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/products?limit=5&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":17,"limit":5,"offset":0},"data":[{"id":2,"name":"Exempelprodukt","listPrice":10000,"active":0,"category":null,"sortId":0,"recurringInterval":null,"isMultiCurrency":0,"isRecurring":0,"custom":[],"userRemovable":true,"userEditable":true,"roles":[],"currencies":[],"tiers":[],"purchaseCost":0,"articleNo":null,"importId":null,"bundle":[],"bundlePriceAdjustment":null,"bundlePriceAdjustmentType":null,"bundleFixedPrice":false,"bundleEditable":false,"description":null,"projectPlanTemplate":null},{"id":3,"name":"Ads","listPrice":10000,"active":1,"category":{"name":"Digital
        Ads","id":2},"sortId":0,"recurringInterval":null,"isMultiCurrency":1,"isRecurring":1,"custom":[],"userRemovable":true,"userEditable":true,"roles":[],"currencies":[{"currency":"EUR","price":1000,"purchaseCost":0,"maxDiscount":null},{"currency":"GBP","price":1000,"purchaseCost":0,"maxDiscount":null},{"currency":"SEK","price":10000,"purchaseCost":0,"maxDiscount":null},{"currency":"USD","price":1000,"purchaseCost":0,"maxDiscount":null}],"tiers":[],"purchaseCost":0,"articleNo":null,"importId":null,"bundle":[],"bundlePriceAdjustment":null,"bundlePriceAdjustmentType":null,"bundleFixedPrice":false,"bundleEditable":false,"description":null,"projectPlanTemplate":null},{"id":4,"name":"Consulting","listPrice":1200,"active":1,"c[...]
