interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/roles?limit=1&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":2,"limit":1,"offset":0},"data":[{"id":1,"name":"role","description":"","parent":null,"defaultCurrency":"SEK","template":1,"defaultSalesboardId":null,"hasDiscount":true}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cc-SlMX4gbpeKLn9AwFra/9tB9muYk"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '193'
      X-RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
