interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/roles?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":2,"limit":100,"offset":0},"data":[{"id":1,"name":"role","description":"","parent":null,"defaultCurrency":"SEK","template":1,"defaultSalesboardId":null,"hasDiscount":true},{"id":2,"name":"sub
        role","description":"","parent":{"name":"role","id":1},"defaultCurrency":"SEK","template":2,"defaultSalesboardId":null,"hasDiscount":true}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"16d-hR97x4D6nZoACv7uGeLVg5AWpSo"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '192'
      X-RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
