interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/files?limit=1&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":2,\"limit\":1,\"offset\":0},\"data\":[{\"activity\":null,\"appointment\":null,\"client\":null,\"contact\":null,\"encryptedCustomerId\":\"0\",\"entity\":\"ProfileImage\",\"entityId\":1,\"extension\":\".jpg\",\"filename\":\"axel-ohlander-1mb.jpg\",\"id\":1,\"mimetype\":\"image/jpeg\",\"order\":null,\"private\":0,\"public\":0,\"size\":417713,\"type\":\"File\",\"uploadDate\":\"2025-05-20T13:20:25Z\",\"user\":{\"name\":\"Axel
        \xD6hlander\",\"id\":1,\"role\":{\"name\":\"role\",\"id\":1},\"email\":\"axel@upsales.com\"},\"userEditable\":true,\"userRemovable\":true,\"labels\":[],\"driveFolderId\":null}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"228-KBZXubwRUPDvcqaMeWOazFdPJ5w"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
version: 1
