interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/files?limit=50&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":2,\"limit\":50,\"offset\":0},\"data\":[{\"activity\":null,\"appointment\":null,\"client\":null,\"contact\":null,\"encryptedCustomerId\":\"0\",\"entity\":\"ProfileImage\",\"entityId\":1,\"extension\":\".jpg\",\"filename\":\"axel-ohlander-1mb.jpg\",\"id\":1,\"mimetype\":\"image/jpeg\",\"order\":null,\"private\":0,\"public\":0,\"size\":417713,\"type\":\"File\",\"uploadDate\":\"2025-05-20T13:20:25Z\",\"user\":{\"name\":\"Axel
        \xD6hlander\",\"id\":1,\"role\":{\"name\":\"role\",\"id\":1},\"email\":\"axel@upsales.com\"},\"userEditable\":true,\"userRemovable\":true,\"labels\":[],\"driveFolderId\":null},{\"activity\":null,\"appointment\":null,\"client\":null,\"contact\":null,\"encryptedCustomerId\":\"0\",\"entity\":\"Appointment\",\"entityId\":105,\"extension\":\".txt\",\"filename\":\"file1.txt\",\"id\":3,\"mimetype\":\"text/plain\",\"order\":null,\"private\":0,\"public\":0,\"size\":440,\"type\":\"File\",\"uploadDate\":\"2025-05-27T08:33:23Z\",\"user\":{\"name\":\"Axel
        \xD6hlander\",\"id\":1,\"role\":{\"name\":\"role\",\"id\":1},\"email\":\"axel@upsales.com\"},\"userEditable\":true,\"userRemovable\":true,\"labels\":[],\"driveFolderId\":null}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"400-6vEANWLmNm6iziOOwqXp3IbsVnE"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '196'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/files?private=1&limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":100,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"46-QbsmMkz+GOfFE40OcNNDAnG2t1w"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '193'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/files?public=1&limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":100,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"46-QbsmMkz+GOfFE40OcNNDAnG2t1w"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '192'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/files?extension=.jpg&limit=100&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":1,\"limit\":100,\"offset\":0},\"data\":[{\"activity\":null,\"appointment\":null,\"client\":null,\"contact\":null,\"encryptedCustomerId\":\"0\",\"entity\":\"ProfileImage\",\"entityId\":1,\"extension\":\".jpg\",\"filename\":\"axel-ohlander-1mb.jpg\",\"id\":1,\"mimetype\":\"image/jpeg\",\"order\":null,\"private\":0,\"public\":0,\"size\":417713,\"type\":\"File\",\"uploadDate\":\"2025-05-20T13:20:25Z\",\"user\":{\"name\":\"Axel
        \xD6hlander\",\"id\":1,\"role\":{\"name\":\"role\",\"id\":1},\"email\":\"axel@upsales.com\"},\"userEditable\":true,\"userRemovable\":true,\"labels\":[],\"driveFolderId\":null}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"22a-ZAGhLPv4v0FoACe0RtO321dU8hY"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '190'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
