interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/projectPlanTypes?limit=100&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":2,\"limit\":100,\"offset\":0},\"data\":[{\"id\":1,\"name\":\"Projekt\",\"isDefault\":true,\"category\":\"PROJECT\",\"regDate\":\"2024-12-17T18:07:49.000Z\",\"regBy\":0,\"modDate\":\"2024-12-17T18:07:49.000Z\",\"modBy\":0,\"stages\":[{\"sortId\":1,\"stage\":{\"id\":1,\"name\":\"Att
        g\xF6ra\",\"category\":\"TODO\",\"color\":\"#FCF0C0\"}},{\"sortId\":2,\"stage\":{\"id\":2,\"name\":\"P\xE5g\xE5ende\",\"category\":\"IN_PROGRESS\",\"color\":\"#A3C6F5\"}},{\"sortId\":3,\"stage\":{\"id\":3,\"name\":\"Klar\",\"category\":\"DONE\",\"color\":\"#C8E6C9\"}}]},{\"id\":2,\"name\":\"Service\",\"isDefault\":false,\"category\":\"SERVICE\",\"regDate\":\"2024-12-17T18:07:49.000Z\",\"regBy\":0,\"modDate\":\"2024-12-17T18:07:49.000Z\",\"modBy\":0,\"stages\":[{\"sortId\":1,\"stage\":{\"id\":1,\"name\":\"Att
        g\xF6ra\",\"category\":\"TODO\",\"color\":\"#FCF0C0\"}},{\"sortId\":2,\"stage\":{\"id\":2,\"name\":\"P\xE5g\xE5ende\",\"category\":\"IN_PROGRESS\",\"color\":\"#A3C6F5\"}},{\"sortId\":3,\"stage\":{\"id\":3,\"name\":\"Klar\",\"category\":\"DONE\",\"color\":\"#C8E6C9\"}}]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"39c-2wBjoEgYY9ioQiDW9I+feF3NLo8"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '187'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/projectPlanTypes/1
  response:
    body:
      string: "{\"error\":null,\"metadata\":null,\"data\":{\"id\":1,\"name\":\"Projekt\",\"isDefault\":true,\"category\":\"PROJECT\",\"regDate\":\"2024-12-17T18:07:49.000Z\",\"regBy\":0,\"modDate\":\"2024-12-17T18:07:49.000Z\",\"modBy\":0,\"stages\":[{\"sortId\":1,\"stage\":{\"id\":1,\"name\":\"Att
        g\xF6ra\",\"category\":\"TODO\",\"color\":\"#FCF0C0\"}},{\"sortId\":2,\"stage\":{\"id\":2,\"name\":\"P\xE5g\xE5ende\",\"category\":\"IN_PROGRESS\",\"color\":\"#A3C6F5\"}},{\"sortId\":3,\"stage\":{\"id\":3,\"name\":\"Klar\",\"category\":\"DONE\",\"color\":\"#C8E6C9\"}}]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d0-hpvJllVRjBMCS6W6csMk1SWJxwU"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '186'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
