interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/projectPlanTypes?limit=100&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"097858cf8cf793842d02ee6f5b99a8873f947cbe3abd417a419ee026147ad44586851d6f03df5f6736db35d4bc34b3f9","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-HefPD9ZHwq7Pa/e09Tf9zsmgLZA"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '36'
      X-RateLimit-Reset:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/projectPlanTypes?limit=100&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":2,\"limit\":100,\"offset\":0},\"data\":[{\"id\":1,\"name\":\"Projekt\",\"isDefault\":true,\"category\":\"PROJECT\",\"regDate\":\"2024-12-17T18:08:01.000Z\",\"regBy\":0,\"modDate\":\"2024-12-17T18:08:01.000Z\",\"modBy\":0,\"stages\":[{\"sortId\":1,\"stage\":{\"id\":1,\"name\":\"Att
        g\xF6ra\",\"category\":\"TODO\",\"color\":\"#FCF0C0\"}},{\"sortId\":2,\"stage\":{\"id\":2,\"name\":\"P\xE5g\xE5ende\",\"category\":\"IN_PROGRESS\",\"color\":\"#A3C6F5\"}},{\"sortId\":3,\"stage\":{\"id\":3,\"name\":\"Klar\",\"category\":\"DONE\",\"color\":\"#C8E6C9\"}}]},{\"id\":2,\"name\":\"Service\",\"isDefault\":false,\"category\":\"SERVICE\",\"regDate\":\"2024-12-17T18:08:01.000Z\",\"regBy\":0,\"modDate\":\"2024-12-17T18:08:01.000Z\",\"modBy\":0,\"stages\":[{\"sortId\":1,\"stage\":{\"id\":1,\"name\":\"Att
        g\xF6ra\",\"category\":\"TODO\",\"color\":\"#FCF0C0\"}},{\"sortId\":2,\"stage\":{\"id\":2,\"name\":\"P\xE5g\xE5ende\",\"category\":\"IN_PROGRESS\",\"color\":\"#A3C6F5\"}},{\"sortId\":3,\"stage\":{\"id\":3,\"name\":\"Klar\",\"category\":\"DONE\",\"color\":\"#C8E6C9\"}}]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"39c-God6au441Fi43+SXYW05PRI6AfY"
    status:
      code: 200
      message: OK
version: 1
