interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/users?limit=10&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":10,"limit":10,"offset":0},"data":[{"id":1,"name":"Gustav
        Pettersson","email":"demo_se@upsales.com","administrator":1,"role":{"name":"Nordic
        Sales","id":1},"teamLeader":0,"active":1,"ghost":0,"free":0,"userTitle":"","userAddress":"","userZipCode":"","userState":"","userPhone":"084526300","userCellPhone":"0701231234","export":1,"custom":[],"billingAdmin":0,"regDate":"2021-09-02T13:37:18.000Z","crm":1,"support":1,"service":0,"supportAdmin":0,"projectAdmin":0},{"id":2,"name":"Pernilla
        Hansson","email":"demo_4@upsales.com","administrator":0,"role":{"name":"Nordic
        Sales","id":1},"teamLeader":0,"active":1,"ghost":0,"free":0,"userTitle":"","userAddress":"","userZipCode":"","userState":"","userPhone":"","userCellPhone":"","export":0,"custom":[],"billingAdmin":0,"regDate":"2021-09-02T13:37:18.000Z","crm":1,"support":0,"service":0,"supportAdmin":0,"projectAdmin":0},{"id":3,"name":"Martina
        Johansson","email":"demo_3@up.com","adminis[...]
