interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/currencies
  response:
    body:
      string: '{"error":null,"data":[{"iso":"AUD","rate":0.161811774,"masterCurrency":false,"active":true},{"iso":"DKK","rate":0.685424449,"masterCurrency":false,"active":true},{"iso":"EUR","rate":0.091776799,"masterCurrency":false,"active":true},{"iso":"NOK","rate":1.068147832,"masterCurrency":false,"active":true},{"iso":"SEK","rate":1,"masterCurrency":true,"active":true},{"iso":"USD","rate":0.106791513,"masterCurrency":false,"active":true}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b0-tjz1RwKOzB0e0SDT2/yt3K+CxCs"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/currencies
  response:
    body:
      string: '{"error":null,"data":[{"iso":"AUD","rate":0.161811774,"masterCurrency":false,"active":true},{"iso":"DKK","rate":0.685424449,"masterCurrency":false,"active":true},{"iso":"EUR","rate":0.091776799,"masterCurrency":false,"active":true},{"iso":"NOK","rate":1.068147832,"masterCurrency":false,"active":true},{"iso":"SEK","rate":1,"masterCurrency":true,"active":true},{"iso":"USD","rate":0.106791513,"masterCurrency":false,"active":true}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b0-tjz1RwKOzB0e0SDT2/yt3K+CxCs"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '198'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
version: 1
