interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/soliditet/clients?limit=1&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":9357896,\"limit\":1,\"offset\":0},\"data\":[{\"dunsNo\":111111001,\"name\":\"Dbr_test_enk_1\",\"employeesRange\":\"\",\"employeesStart\":0,\"employeesEnd\":0,\"sniText\":\"\",\"sniCode\":\"\",\"turnover\":null,\"city\":\"S\xF8borg\",\"state\":\"Hovedstaden\",\"country\":\"DK\",\"zipcode\":2860,\"orgNo\":111122,\"isHeadqueraters\":1,\"status\":\"Aktiv\",\"isDmBlockeded\":0,\"parentDuns\":null,\"rootParentDuns\":null,\"noOfEmployeesExact\":0,\"companyForm\":{\"name\":\"Enskild
        firma\",\"id\":3,\"groupId\":9},\"groupSize\":1}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ea-Jy6UAfa0gUllchUUHQMAmflMZ+k"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '193'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/soliditet/clients/111111001
  response:
    body:
      string: '{"error":{"key":"FailedValidation","code":400,"errorCode":26,"msg":"No
        such attribute: id"},"metadata":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6c-PaXRB9HE3LGYxAi5h1+GVy5mtBI"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '192'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 400
      message: Bad Request
version: 1
