interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/soliditet/clients?limit=10&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":9357896,\"limit\":10,\"offset\":0},\"data\":[{\"dunsNo\":111111001,\"name\":\"Dbr_test_enk_1\",\"employeesRange\":\"\",\"employeesStart\":0,\"employeesEnd\":0,\"sniText\":\"\",\"sniCode\":\"\",\"turnover\":null,\"city\":\"S\xF8borg\",\"state\":\"Hovedstaden\",\"country\":\"DK\",\"zipcode\":2860,\"orgNo\":111122,\"isHeadqueraters\":1,\"status\":\"Aktiv\",\"isDmBlockeded\":0,\"parentDuns\":null,\"rootParentDuns\":null,\"noOfEmployeesExact\":0,\"companyForm\":{\"name\":\"Enskild
        firma\",\"id\":3,\"groupId\":9},\"groupSize\":1},{},{\"dunsNo\":111111002,\"name\":\"Dbr_test_enk_2\",\"employeesRange\":\"\",\"employeesStart\":0,\"employeesEnd\":0,\"sniText\":\"\",\"sniCode\":\"\",\"turnover\":null,\"city\":\"S\xF8borg\",\"state\":\"Hovedstaden\",\"country\":\"DK\",\"zipcode\":2860,\"orgNo\":111123,\"isHeadqueraters\":1,\"status\":\"Aktiv\",\"isDmBlockeded\":0,\"parentDuns\":null,\"rootParentDuns\":null,\"noOfEmployeesExact\":0,\"companyForm\":{\"name\":\"Enskild
        firma\",\"id\":3,\"groupId\":9},\"groupSize\":1},{[...]
