interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contactrelation?limit=1&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"93eafa79c9a596f1b5b136c1c2ef1c4bbc0749678e13d40f89066946d821b50f5470faa5bc868092845729432569a5e9","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-guohekGWfU4Upq2hRqYyQQD8stc"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contactrelation?limit=1&offset=0
  response:
    body:
      string: '{"error":{"key":"ServerError","code":500,"errorCode":3,"msg":"Server
        error"},"metadata":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d-TO3Rk5Vx13SlaCBEN7s1AOtO31I"
    status:
      code: 500
      message: Internal Server Error
version: 1
