interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contactrelation?limit=10&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"2c10148526ae2e2427d12e760694a34b183b3a5c41d1257024186e027d33f5010e56e92d89a1eef6e05f66a77d2d8c7a","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-fMZbg1z3sKSiqqBNxkCrO1RQ+/s"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '34'
      X-RateLimit-Reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contactrelation?limit=10&offset=0
  response:
    body:
      string: '{"error":{"key":"ServerError","code":500,"errorCode":3,"msg":"Server
        error"},"metadata":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d-TO3Rk5Vx13SlaCBEN7s1AOtO31I"
    status:
      code: 500
      message: Internal Server Error
version: 1
