interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contactrelation?limit=20&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"04abaac91de910ab0d2fd2d114e80a89a3890bc08984cdeb5a0c97d08b11fc3b5b7a50ee0437812360066f074fc09c74","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-VGMGRAm3snF6jQX2pmZSWnuL/DE"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '35'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contactrelation?limit=20&offset=0
  response:
    body:
      string: '{"error":{"key":"ServerError","code":500,"errorCode":3,"msg":"Server
        error"},"metadata":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d-TO3Rk5Vx13SlaCBEN7s1AOtO31I"
    status:
      code: 500
      message: Internal Server Error
version: 1
