interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contactrelation?limit=5&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"58c9032506085377a2a5c872ce1c5ed6a8d8e8d22618adaa14b288eaa6ce644fb1db589a6a0820a2006b49cb44f0ec21","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-iuPdUhWT96FJHoPXJAhYXPwpEDE"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '23'
      X-RateLimit-Reset:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/contactrelation?limit=5&offset=0
  response:
    body:
      string: '{"error":{"key":"ServerError","code":500,"errorCode":3,"msg":"Server
        error"},"metadata":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d-TO3Rk5Vx13SlaCBEN7s1AOtO31I"
    status:
      code: 500
      message: Internal Server Error
version: 1
