interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/ticketStatus?limit=20&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":4,\"limit\":20,\"offset\":0},\"data\":[{\"id\":1,\"name\":\"\xD6ppen\",\"closed\":false,\"regDate\":\"2023-11-13T15:19:54.000Z\",\"modDate\":\"2023-11-13T15:19:54.000Z\",\"regBy\":0,\"modBy\":0},{\"id\":2,\"name\":\"St\xE4ngd\",\"closed\":true,\"regDate\":\"2023-11-13T15:19:59.000Z\",\"modDate\":\"2023-11-13T15:19:59.000Z\",\"regBy\":0,\"modBy\":0},{\"id\":3,\"name\":\"V\xE4ntar\",\"closed\":false,\"regDate\":\"2024-12-11T19:52:49.000Z\",\"modDate\":\"2024-12-11T19:52:49.000Z\",\"regBy\":0,\"modBy\":0},{\"id\":4,\"name\":\"On
        hold\",\"closed\":false,\"regDate\":\"2024-12-11T19:52:49.000Z\",\"modDate\":\"2024-12-11T19:52:49.000Z\",\"regBy\":0,\"modBy\":0}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"25e-5sM15fU3GMMTif8GVNRdhqrwWfI"
    status:
      code: 200
      message: OK
version: 1
