interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/ticketStatus?limit=1&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":4,\"limit\":1,\"offset\":0},\"data\":[{\"id\":1,\"name\":\"\xD6ppen\",\"closed\":false,\"regDate\":\"2023-11-13T15:19:54.000Z\",\"modDate\":\"2023-11-13T15:19:54.000Z\",\"regBy\":0,\"modBy\":0}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c9-w4b385Ropk5+GX7UGIp1Rd+3P94"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/ticketStatus/1
  response:
    body:
      string: "{\"error\":null,\"metadata\":null,\"data\":{\"id\":1,\"name\":\"\xD6ppen\",\"closed\":false,\"regDate\":\"2023-11-13T15:19:54.000Z\",\"modDate\":\"2023-11-13T15:19:54.000Z\",\"regBy\":0,\"modBy\":0}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ab-nYr9UEw6cF7dCkhkDIg5lmiNMnU"
    status:
      code: 200
      message: OK
version: 1
