interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/userInvites?limit=10&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2f-tSHGA6bZodiW+KnRKGo4ZCWH+4w"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '185'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
version: 1
