interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/orders?limit=1&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":2852,\"limit\":1,\"offset\":0},\"data\":[{\"id\":789,\"description\":\"Tidningsannons\",\"closeDate\":\"2014-02-27\",\"date\":\"2018-05-14\",\"notes\":null,\"user\":{\"role\":{\"name\":\"DACH
        Sales\",\"id\":2},\"name\":\"Lisa Henriksson\",\"id\":7,\"email\":\"demo_2@upsales.com\"},\"client\":{\"operationalAccount\":null,\"journeyStep\":\"pipeline\",\"name\":\"\xD6hrlings
        PricewaterhouseCoopers AB\",\"id\":95,\"users\":[{\"name\":\"Gustav Pettersson\",\"id\":1,\"role\":{\"name\":\"Nordic
        Sales\",\"id\":1},\"email\":\"demo_se@upsales.com\"}]},\"contact\":null,\"project\":null,\"regDate\":\"2018-05-14T12:35:14.000Z\",\"stage\":{\"name\":\"Lost
        Deal\",\"id\":7},\"probability\":0,\"modDate\":\"2025-11-14T13:40:06.000Z\",\"clientConnection\":null,\"currencyRate\":1,\"currency\":\"SEK\",\"locked\":0,\"custom\":[{\"value\":\"237\",\"valueInteger\":237,\"valueDouble\":237,\"valueArray\":[\"237\"],\"fieldId\":2}],\"stakeholders\":[],\"titleCategories\":[],\"orderRow\":[{\"id\":1307,\"quantity\":25,\"price\":833,\"discount\":0,\"custom\":[],\"bundleRows\":[],\"product\":{\"purchaseCost\":0,\"name\":\"Consulting\",\"isRecurring\":false,\"id\":4,\"category\":{\"name\":\"Services\",\"id\":1},\"articleNo\":null,\"projectPlanTemplate\":{\"name\":\"Onboarding
        {{Client.Name}}\",\"active\":true,\"id\":1}},\"productId\":4,\"tierQuantity\":0,\"sortId\":0,\"listPrice\":1200,\"purchaseCost\":null,\"bundleFixedPrice\":false,\"contributionMargin\":20825,\"contributionMarginLocalCurrency\":20825}],\"recurringInterval\":12,\"periodization\":null,\"value\":20825,\"contributionMargin\":20825,\"weightedContributionMargin\":0,\"contributionMarginLocalCurrency\":20825,\"weightedContributionMarginLocalCurrency\":0,\"purchaseCost\":0,\"annualValue\":0,\"annualValueInMasterCurrency\":0,\"weightedAnnualValue\":0,\"weightedAnnualValueInMasterCurrency\":0,\"monthlyValue\":0,\"monthlyValueInMasterCurrency\":0,\"weightedMonthlyValue\":0,\"weightedMonthlyValueInMasterCurrency\":0,\"weightedValue\":0,\"valueInMasterCurrency\":20825,\"weightedValueInMasterCurrency\":0,\"oneOffValue\":20825,\"weightedOneOffValue\":0,\"oneOffValueInMasterCurrency\":20825,\"weightedOneOffValueInMasterCurrency\":0,\"agreement\":null,\"userRemovable\":true,\"userEditable\":true,\"lastIntegrationStatus\":[],\"confirmedBudget\":null,\"confirmedDate\":null,\"confirmedSolution\":false,\"lostReason\":null,\"competitorId\":null,\"regBy\":null,\"salesCoach\":[],\"checklist\":[],\"marketingContribution\":null,\"risks\":{\"closingDateChangedOccured\":null,\"companySizeOccured\":null,\"daysInStageOccured\":null,\"noAppointmentsOccured\":null,\"noNextStepOccured\":null,\"noRecentContactOccured\":null,\"noStakeholderInvolvedOccured\":null,\"notAnsweringCallsOccured\":null,\"orderValueChangedOccured\":null,\"orderValueOccured\":null,\"postponedAppointmentsOccured\":null},\"noCompletedAppointments\":0,\"noPostponedAppointments\":0,\"noTimesCallsNotAnswered\":0,\"noTimesClosingDateChanged\":0,\"noTimesOrderValueChanged\":0,\"userSalesStatistics\":{\"mostCommonAppointmentsPerOrder\":1,\"mostCommonStakeholder\":null,\"avgSalesCycleLength\":14},\"priceListId\":1,\"invoiceRelatedClient\":false,\"projectPlanOptions\":[]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b67-rctoaAGwlcaiOblmxbWoxoXJmOE"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/orders/789
  response:
    body:
      string: "{\"error\":null,\"data\":{\"id\":789,\"description\":\"Tidningsannons\",\"closeDate\":\"2014-02-27\",\"date\":\"2018-05-14\",\"notes\":null,\"user\":{\"role\":{\"name\":\"DACH
        Sales\",\"id\":2},\"name\":\"Lisa Henriksson\",\"id\":7,\"email\":\"demo_2@upsales.com\"},\"client\":{\"operationalAccount\":null,\"journeyStep\":\"pipeline\",\"name\":\"\xD[...]
