interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/phoneCall?limit=1&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":148},"data":[{"id":1,"durationInS":312,"user":{"id":3,"name":"Martina
        Johansson"},"type":"31","conversationUrl":null,"contact":{"id":705,"name":"Erik
        Peters"},"date":"2024-05-06T14:27:13.000Z","status":1,"phoneNumber":"0701234567","related":[{"id":3,"type":"Activity","name":"Ring
        och kolla intresse"}],"client":{"id":110,"name":"Telia Company AB"},"externalId":"3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"192-lfX6i44e+i070PMCp6NFABlNe0k"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/phoneCall/1
  response:
    body:
      string: '{"error":null,"data":{"id":1,"durationInS":312,"user":{"id":3,"name":"Martina
        Johansson"},"type":"31","conversationUrl":null,"contact":{"id":705,"name":"Erik
        Peters"},"date":"2024-05-06T14:27:13.000Z","status":1,"phoneNumber":"0701234567","related":[{"id":3,"type":"Activity","name":"Ring
        och kolla intresse"}],"client":{"id":110,"name":"Telia Company AB"},"externalId":"3"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"177-s0gkmxOgPq94M/JwBRWPx/OTtec"
    status:
      code: 200
      message: OK
version: 1
