interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/phoneCall?limit=10&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":148},\"data\":[{\"id\":1,\"durationInS\":312,\"user\":{\"id\":3,\"name\":\"Martina
        Johansson\"},\"type\":\"31\",\"conversationUrl\":null,\"contact\":{\"id\":705,\"name\":\"Erik
        Peters\"},\"date\":\"2024-05-06T14:27:13.000Z\",\"status\":1,\"phoneNumber\":\"0701234567\",\"related\":[{\"id\":3,\"type\":\"Activity\",\"name\":\"Ring
        och kolla intresse\"}],\"client\":{\"id\":110,\"name\":\"Telia Company AB\"},\"externalId\":\"3\"},{\"id\":2,\"durationInS\":62,\"user\":{\"id\":1,\"name\":\"Gustav
        Pettersson\"},\"type\":\"31\",\"conversationUrl\":null,\"contact\":{\"id\":647,\"name\":\"Eino
        Polon\"},\"date\":\"2024-05-06T15:40:43.000Z\",\"status\":1,\"phoneNumber\":\"0701234567\",\"related\":[{\"id\":5,\"type\":\"Activity\",\"name\":null}],\"client\":{\"id\":102,\"name\":\"Nobina
        Sverige AB\"},\"externalId\":\"5\"},{\"id\":3,\"durationInS\":429,\"user\":{\"id\":1,\"name\":\"Gustav
        Pett[...]
