interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/segments?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":2},"data":[{"id":1,"name":"segment
        name","description":null,"nrOfContacts":106,"regBy":1,"modBy":1,"active":1,"createDate":"2025-05-07T17:32:59.000Z","modDate":"2025-05-07T17:32:59.000Z","filter":[{"id":1,"segmentId":1,"body":{"q":[{"a":"active","c":"eq","v":true}]},"config":{"Active":{"comparisonType":"Equals","filterName":"Active","dataType":"radio","field":"active","value":true,"inactive":false}},"isExclude":false,"date":"2025-05-07T17:32:59.000Z","orGroup":false}],"version":2,"flowStatus":null,"flowName":null,"sourceTemplate":null,"usedForProspectingMonitor":0},{"id":2,"name":"Test
        Segment","description":null,"nrOfContacts":106,"regBy":1,"modBy":1,"active":1,"createDate":"2025-08-29T09:26:36.000Z","modDate":"2025-08-29T09:26:36.000Z","filter":[{"id":2,"segmentId":2,"body":{"q":[{"a":"active","c":"eq","v":true}]},"config":{"Active":{"comparisonType":"Equals","filterName":"Active","dataType":"radio","field":"active","value":true,"inactive":false}},"isExclude":false,"date":"2025-08-29T09:26:36.000Z","orGroup":false}],"version":2,"flowStatus":null,"flowName":null,"sourceTemplate":null,"usedForProspectingMonitor":0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"490-ZLpV5KQZxdVtvK6p/wGb1sg8QKE"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '195'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
[...]
