interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/projects?active=1&limit=100&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":1,\"limit\":100,\"offset\":0},\"data\":[{\"id\":2,\"name\":\"test\",\"startDate\":\"2025-05-14T00:00:00.000Z\",\"active\":1,\"endDate\":null,\"quota\":0,\"notes\":null,\"regDate\":\"2025-05-14T14:35:20.000Z\",\"users\":[{\"name\":\"Axel
        \xD6hlander\",\"id\":1,\"role\":{\"name\":\"role\",\"id\":1},\"email\":\"axel@upsales.com\"}],\"custom\":[],\"userRemovable\":true,\"userEditable\":true,\"isCallList\":false}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"185-zGS1Brm6EhbgnEzWDTU/KDC1aWo"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '196'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
