interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/projects?active=0&limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"limit":100,"offset":0},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"46-QbsmMkz+GOfFE40OcNNDAnG2t1w"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '195'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
