interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/listViews/contact?params=%7B%27limit%27%3A+5%2C+%27offset%27%3A+0%7D
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"47afe3497244fc9d33ec118dda7d32bd9cf01934a6261262483a45d820f82bd0ada8edbb85d5e427cc858cd78d4f44c9","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-EE6msUbDePMOwkGDOQ+uFpl1Byk"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '37'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/listViews/contact?params=%7B%27limit%27%3A+5%2C+%27offset%27%3A+0%7D
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"limit\":1000,\"offset\":0,\"total\":3},\"data\":[{\"id\":\"standard1\",\"type\":\"contact\",\"title\":\"Mina
        kontakter\",\"default\":true,\"editable\":false,\"private\":false,\"sorting\":[{\"attribute\":\"name\",\"ascending\":true}],\"limit\":50,\"filters\":[{\"filterName\":\"AccountManager\",\"comparisonType\":\"Equals\",\"field\":\"client.users.id\",\"filterType\":\"list\",\"inactive\":false,\"value\":[1],\"title\":\"default.accountManagers\",\"valueText\":\"Gustav
        Pettersson\"},{\"filterName\":\"Active\",\"value\":true}],\"columns\":[\"name\",\"phone\",\"email\"],\"supportUserOptions\":{\"hidden\":true}},{\"id\":\"standard2\",\"type\":\"contact\",\"title\":\"Alla
        kontakter\",\"default\":false,\"editable\":false,\"private\":false,\"sorting\":[{\"attribute\":\"name\",\"ascending\":true}],\"limit\":50,\"filters\":[{\"filterName\":\"Active\",\"value\":true}],\"columns\":[\"name\",\"phone\",\"email\"],\"supportUserOptions\":{\"default\":true}},{\"id\":\"standard3\",\"type\":\"contact\",\"title\":\"Mina
        kontakters \xE4renden\",\"default\":false,\"editable\":false,\"private\":false,\"feature\":\"customerSupport\",\"sorting\":[{\"attribute\":\"name\",\"ascending\":true}],\"limit\":50,\"filters\":[{\"filterName\":\"AccountManager\",\"comparisonType\":\"Equals\",\"field\":\"client.users.id\",\"filterType\":\"list\",\"inactive\":false,\"value\":[1],\"title\":\"default.accountManagers\",\"valueText\":\"Gustav
        Pettersson\"},{\"filterName\":\"HasSupportTickets\",\"value\":{\"Status\":{\"value\":\"open\"},\"has\":true},\"inactive\":false},{\"filterName\":\"Active\",\"value\":true}],\"columns\":[\"name\",\"phone\",\"email\"],\"supportUserOptions\":{\"hidden\":true}}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5c9-pfw+Lz5tH/kvI/AeTpcwT5w/TXU"
    status:
      code: 200
      message: OK
version: 1
