interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/listViews/order?params=%7B%27limit%27%3A+5%2C+%27offset%27%3A+0%7D
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"008557e66cc84c8b9738c448b872a1594715c9e84cd87e60592df9cdcafb700d204fb3d58fd8d284c3cad2eff33fea72","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-zFcwLxxUvDcozVRseiok5T/Uo+o"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '32'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/listViews/order?params=%7B%27limit%27%3A+5%2C+%27offset%27%3A+0%7D
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"limit\":1000,\"offset\":0,\"total\":3},\"data\":[{\"id\":\"standard1\",\"type\":\"order\",\"title\":\"Min
        f\xF6rs\xE4ljning innevarande m\xE5nad\",\"default\":true,\"editable\":false,\"private\":false,\"sorting\":[{\"attribute\":\"date\",\"ascending\":false}],\"limit\":100,\"filters\":[{\"filterName\":\"User\",\"comparisonType\":\"Equals\",\"field\":\"user.id\",\"custom\":true,\"value\":[1],\"valueText\":\"Gustav
        Pettersson\"},{\"filterName\":\"Date\",\"comparisonType\":null,\"field\":\"date\",\"value\":{\"preset\":\"currentMonth\"}}],\"columns\":[\"date\",\"client\",\"description\",\"value\",\"stage\",\"user\"]},{\"id\":\"standard2\",\"type\":\"order\",\"title\":\"Min
        f\xF6rs\xE4ljning i \xE5r\",\"default\":false,\"editable\":false,\"private\":false,\"sorting\":[{\"attribute\":\"date\",\"ascending\":false}],\"limit\":100,\"filters\":[{\"filterName\":\"User\",\"comparisonType\":\"Equals\",\"field\":\"user.id\",\"custom\":true,\"value\":[1],\"valueText\":\"Gustav
        Pettersson\"},{\"filterName\":\"Date\",\"comparisonType\":null,\"field\":\"date\",\"value\":{\"preset\":\"soFarThisYear\"}}],\"columns\":[\"date\",\"client\",\"description\",\"value\",\"stage\"]},{\"id\":\"standard3\",\"type\":\"order\",\"title\":\"All
        f\xF6rs\xE4ljning i \xE5r\",\"default\":false,\"editable\":false,\"private\":false,\"sorting\":[{\"attribute\":\"date\",\"ascending\":false}],\"limit\":100,\"filters\":[{\"filterName\":\"Date\",\"comparisonType\":null,\"field\":\"date\",\"value\":{\"preset\":\"currentYear\"}}],\"columns\":[\"date\",\"client\",\"description\",\"value\",\"stage\"]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"556-0tIououPAnTn6WLaWq4740DFv4U"
    status:
      code: 200
      message: OK
version: 1
