interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/listViews/contact?params=%7B%27limit%27%3A+5%2C+%27offset%27%3A+0%7D
  response:
    body:
      string: '{"error":null,"metadata":{"limit":1000,"offset":0,"total":2},"data":[{"id":"standard1","type":"contact","title":"Mina
        kontakter","default":true,"editable":false,"private":false,"sorting":[{"attribute":"name","ascending":true}],"limit":50,"filters":[{"filterName":"AccountManager","comparisonType":"Equals","field":"client.users.id","filterType":"list","inactive":false,"value":[75],"title":"default.accountManagers","valueText":"ok
        i promise i will keep track of it this time"},{"filterName":"Active","value":true}],"columns":["name","phone","email"],"supportUserOptions":{"hidden":true}},{"id":"standard2","type":"contact","title":"Alla
        kontakter","default":false,"editable":false,"private":false,"sorting":[{"attribute":"name","ascending":true}],"limit":50,"filters":[{"filterName":"Active","value":true}],"columns":["name","phone","email"],"supportUserOptions":{"default":true}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"373-nlJhCr5qW9CzjiJs9XZWuoO9OVI"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '180'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
