interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/listViews/order?params=%7B%27limit%27%3A+5%2C+%27offset%27%3A+0%7D
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"limit\":1000,\"offset\":0,\"total\":3},\"data\":[{\"id\":\"standard1\",\"type\":\"order\",\"title\":\"Min
        f\xF6rs\xE4ljning innevarande m\xE5nad\",\"default\":true,\"editable\":false,\"private\":false,\"sorting\":[{\"attribute\":\"date\",\"ascending\":false}],\"limit\":100,\"filters\":[{\"filterName\":\"User\",\"comparisonType\":\"Equals\",\"field\":\"user.id\",\"custom\":true,\"value\":[75],\"valueText\":\"ok
        i promise i will keep track of it this time\"},{\"filterName\":\"Date\",\"comparisonType\":null,\"field\":\"date\",\"value\":{\"preset\":\"currentMonth\"}}],\"columns\":[\"date\",\"client\",\"description\",\"value\",\"contributionMargin\",\"stage\",\"user\"]},{\"id\":\"standard2\",\"type\":\"order\",\"title\":\"Min
        f\xF6rs\xE4ljning i \xE5r\",\"default\":false,\"editable\":false,\"private\":false,\"sorting\":[{\"attribute\":\"date\",\"ascending\":false}],\"limit\":100,\"filters\":[{\"filterName\":\"User\",\"comparisonType\":\"Equals\",\"field\":\"user.id\",\"custom\":true,\"value\":[75],\"valueText\":\"ok
        i promise i will keep track of it this time\"},{\"filterName\":\"Date\",\"comparisonType\":null,\"field\":\"date\",\"value\":{\"preset\":\"soFarThisYear\"}}],\"columns\":[\"date\",\"client\",\"description\",\"value\",\"contributionMargin\",\"stage\"]},{\"id\":\"standard3\",\"type\":\"order\",\"title\":\"All
        f\xF6rs\xE4ljning i \xE5r\",\"default\":false,\"editable\":false,\"private\":false,\"sorting\":[{\"attribute\":\"date\",\"ascending\":false}],\"limit\":100,\"filters\":[{\"filterName\":\"Date\",\"comparisonType\":null,\"field\":\"date\",\"value\":{\"preset\":\"currentYear\"}}],\"columns\":[\"date\",\"client\",\"description\",\"value\",\"contributionMargin\",\"stage\"]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d1-OU0gYwwHJrULafokdEtwhJ+NVc0"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '179'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
version: 1
