interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/groupMailCategories?limit=20&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"cdef0817530a125c9f9be25f7b3394d5217e2292b9969a5b75b9de4e64dd3e6309a5a4a5d57102a59ea2b71ff74afd4c","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-tqIxfzuzEahP83bEI9sh3wHosp0"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '22'
      X-RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/groupMailCategories?limit=20&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":4},"data":[{"id":1,"title":"Product
        news","description":"News and updates about Demobolaget","active":1},{"id":2,"title":"Events","description":"Invites
        to upcoming events hosted by Demobolaget","active":1},{"id":3,"title":"Publications
        & Whitepapers","description":"Publications, white papers, blog posts","active":1},{"id":4,"title":"Research
        & Early access","description":"Try new features before everyone else","active":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ce-0nB5lPlkI70xOSnHBA7VEtso4Cw"
    status:
      code: 200
      message: OK
version: 1
