interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/groupMailCategories?limit=1&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"462b1a1a40c6d190dff79dcf358007186bf18f1094868ceb2814a6002e81db2dcb91721c29057332f22c33b51e29d529","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-tHZL0oYPUBgyZrcoC7cnwRSbFAk"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '35'
      X-RateLimit-Reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/groupMailCategories?limit=1&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":4},"data":[{"id":1,"title":"Product
        news","description":"News and updates about Demobolaget","active":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8c-OSE1kLh63i/ZSUL48MHAYlYeBNs"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/groupMailCategories/1
  response:
    body:
      string: '{"error":null,"data":{"id":1,"title":"Product news","description":"News
        and updates about Demobolaget","languages":[{"language":"se","title":"Produktnyheter","description":"Nyheter
        och uppdateringar om Demobolaget"}],"active":1,"relatedMailCampaigns":[{"entity":"MailCampaign","value":{"id":26,"name":"kjn"}},{"entity":"Flow","value":{"id":2,"name":"Onboarding
        Trial flow","segmentId":2}},{"entity":"Flow","value":{"id":3,"name":"*Nurturing
        flow","segmentId":3}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d1-XhJsqhNW0zvX1NxqKqedaBMCYU8"
    status:
      code: 200
      message: OK
version: 1
