interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/groupMailCategories?active=1&limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":1},"data":[{"id":2,"title":"Nyhetsbrev","description":null,"active":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6a-T1XT0hsZG9zFhEdQVwjEFL7ennE"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '197'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
