interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/groupMailCategories?limit=1&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":1},"data":[{"id":2,"title":"Nyhetsbrev","description":null,"active":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6a-T1XT0hsZG9zFhEdQVwjEFL7ennE"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/groupMailCategories/2
  response:
    body:
      string: '{"error":null,"data":{"id":2,"title":"Nyhetsbrev","description":null,"languages":[],"active":1,"relatedMailCampaigns":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7a-hqeuU9k4X5AyiqW5XmMg5BCUUXE"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '198'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
version: 1
