interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/todoViews
  response:
    body:
      string: '{"error":null,"data":[{"name":"all","group":"open","type":"all"},{"name":"appointmentsAll","group":"open","type":"appointments"},{"name":"todosAll","group":"open","type":"todos"},{"name":"phonecallsAll","group":"open","type":"phonecalls"},{"name":"allToday","group":"today","type":"all"},{"name":"appointmentsToday","group":"today","type":"appointments"},{"name":"todosToday","group":"today","type":"todos"},{"name":"phonecallsToday","group":"today","type":"phonecalls"},{"name":"allTomorrow","group":"tomorrow","type":"all"},{"name":"appointmentsTomorrow","[...]
