interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/orderStages?limit=10&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":8,\"limit\":10,\"offset\":0},\"data\":[{\"id\":14,\"name\":\"Order
        (ej fortnox)\",\"probability\":100,\"exclude\":1,\"roles\":[]},{\"id\":10,\"name\":\"Prospect
        2\",\"probability\":50,\"exclude\":0,\"roles\":[{\"name\":\"sub role\",\"id\":2}]},{\"id\":8,\"name\":\"Fallback\",\"probability\":5,\"exclude\":0,\"roles\":[{\"name\":\"role\",\"id\":1}]},{\"id\":11,\"name\":\"Muntlig
        \xF6verenskommelse\",\"probability\":91,\"exclude\":0,\"roles\":[]},{\"id\":7,\"name\":\"Avslutad
        - Ingen order\",\"probability\":1,\"exclude\":0,\"roles\":[]},{\"id\":13,\"name\":\"Avslutad
        - Faktura_VERIFY\",\"probability\":100,\"exclude\":0,\"roles\":[]},{\"id\":12,\"name\":\"Avslutad
        - Order_MODIFIED\",\"probability\":100,\"exclude\":1,\"roles\":[]},{\"id\":9,\"name\":\"Prospect
        3\",\"probability\":25,\"exclude\":0,\"roles\":[{\"name\":\"role\",\"id\":1},{\"name\":\"sub
        role\",\"id\":2}]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"311-4RQxQCkk4BQJeqNP1JxY2UymEV0"
      X-RateLimit-Limit:
      - '1500'
      X-RateLimit-Remaining:
      - '1497'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
version: 1
