interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/orderStages?limit=100&offset=0&sort=probability
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":8,\"limit\":100,\"offset\":0},\"data\":[{\"id\":7,\"name\":\"Avslutad
        - Ingen order\",\"probability\":1,\"exclude\":0,\"roles\":[]},{\"id\":8,\"name\":\"Fallback\",\"probability\":5,\"exclude\":0,\"roles\":[{\"name\":\"role\",\"id\":1}]},{\"id\":9,\"name\":\"Prospect
        3\",\"probability\":25,\"exclude\":0,\"roles\":[{\"name\":\"role\",\"id\":1},{\"name\":\"sub
        role\",\"id\":2}]},{\"id\":10,\"name\":\"Prospect 2\",\"probability\":50,\"exclude\":0,\"roles\":[{\"name\":\"sub
        role\",\"id\":2}]},{\"id\":11,\"name\":\"Muntlig \xF6verenskommelse\",\"probability\":91,\"exclude\":0,\"roles\":[]},{\"id\":14,\"name\":\"Order
        (ej fortnox)\",\"probability\":100,\"exclude\":1,\"roles\":[]},{\"id\":13,\"name\":\"Avslutad
        - Faktura_VERIFY\",\"probability\":100,\"exclude\":0,\"roles\":[]},{\"id\":12,\"name\":\"Avslutad
        - Order_MODIFIED\",\"probability\":100,\"exclude\":1,\"roles\":[]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"312-J36S+wAmRmJZzlHY69M2lr8ZHYg"
      X-RateLimit-Limit:
      - '1500'
      X-RateLimit-Remaining:
      - '1494'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
