interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/projectPlanStages?limit=5&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":3,\"limit\":5,\"offset\":0},\"data\":[{\"id\":1,\"name\":\"Att
        g\xF6ra\",\"category\":\"TODO\",\"color\":\"#FCF0C0\"},{\"id\":2,\"name\":\"P\xE5g\xE5ende\",\"category\":\"IN_PROGRESS\",\"color\":\"#A3C6F5\"},{\"id\":3,\"name\":\"Klar\",\"category\":\"DONE\",\"color\":\"#C8E6C9\"}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"106-XCWfeAjdFpw2EBzwt+717NGXUdg"
    status:
      code: 200
      message: OK
version: 1
