interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/apiKeys?limit=5&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"limit\":5,\"offset\":0,\"total\":13},\"data\":[{\"id\":1017212,\"name\":\"Axel
        \xD6hlander - Gmail\",\"active\":true},{\"id\":1018122,\"name\":\"Axel \xD6hlander
        - Prospecting in Google Chrome\",\"active\":true},{\"id\":1012656,\"name\":\"Gmail
        app\",\"active\":true},{\"id\":1015082,\"name\":\"Fortnox Premium app\",\"active\":true},{\"id\":1017214,\"name\":\"Google
        Calendar app\",\"active\":true}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"179-ctwEhhbOST68bLm/XyfFIZQoa5I"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '197'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
version: 1
