interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/apiKeys?limit=1&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"limit\":1,\"offset\":0,\"total\":13},\"data\":[{\"id\":1017212,\"name\":\"Axel
        \xD6hlander - Gmail\",\"active\":true}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"81-rx1fJbrq+O9FbXqSG6E4lsCMa7M"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
version: 1
