interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/projectPlanPriority?limit=1&offset=0
  response:
    body:
      string: "{\"error\":null,\"metadata\":{\"total\":3,\"limit\":1,\"offset\":0},\"data\":[{\"id\":1,\"name\":\"L\xE5g\",\"category\":\"LOW\",\"isDefault\":true}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7c-LaQgj1+GV2491EuB8Ngp0et24Ck"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
version: 1
