interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"limit":100,"offset":0,"total":4},"data":[{"id":4,"name":"End
        customer","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":5,"name":"Partner","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":6,"name":"Test2","parentId":4,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":3,"name":"Wholesaler","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ff-85OCEXy7saXYPwyCbAtOD38XqS4"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '191'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"limit":100,"offset":0,"total":4},"data":[{"id":4,"name":"End
        customer","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":5,"name":"Partner","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":6,"name":"Test2","parentId":4,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":3,"name":"Wholesaler","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ff-85OCEXy7saXYPwyCbAtOD38XqS4"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '189'
      X-RateLimit-Reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
