interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"a7b20e8973cc6a3c4e2f4930b89198ba4812f71cfaf81792d86c31cb2a1e2e6fdccc79e9135135176292cbdeeee4e7ae","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-DFCugFpbX4EjGWKu2EsKT60IbhU"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '34'
      X-RateLimit-Reset:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"limit":100,"offset":0,"total":3},"data":[{"id":2,"name":"Digital
        Ads","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":1,"name":"Services","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":3,"name":"Subscription
        products","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"191-+YwAg01XLWGG3OuaFuDVL1+VtJI"
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"limit":100,"offset":0,"total":3},"data":[{"id":2,"name":"Digital
        Ads","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":1,"name":"Services","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":3,"name":"Subscription
        products","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"191-+YwAg01XLWGG3OuaFuDVL1+VtJI"
    status:
      code: 200
      message: OK
version: 1
