interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"cb052cd411cfca1fd474f374102333af151e147ca78e3ce87488a44187a50477584145d6b7c6cbd65f73ff1b9139b567","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-VU1TmrnSP0S7iNVFsthp+Oto1xc"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '37'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"limit":100,"offset":0,"total":3},"data":[{"id":2,"name":"Digital
        Ads","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":1,"name":"Services","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":3,"name":"Subscription
        products","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"191-+YwAg01XLWGG3OuaFuDVL1+VtJI"
    status:
      code: 200
      message: OK
version: 1
