interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":{"metadata":{"key":"CustomerAccessDenied","errorCode":1,"code":401,"msg":"Missing
        customer access"},"error":null,"data":null,"code":401,"isUpsalesError":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-poNF4FbWjk2I9a8bGopj161dtFs"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"email": "demo_se@upsales.com", "samlBypass": null, "password": "REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/session/
  response:
    body:
      string: '{"data":{"token":"7e66815e3458451940ad59d37f444adf6002632cbb2f267b2586fde6de1cf465dee400e76cf0d447d744328a8f1a5856","isTwoFactorAuth":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d-s1CU3f8IJNKenb78R3++eVN6c2A"
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '38'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories?limit=100&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"limit":100,"offset":0,"total":3},"data":[{"id":2,"name":"Digital
        Ads","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":1,"name":"Services","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false},{"id":3,"name":"Subscription
        products","parentId":0,"sortId":99999999,"roles":[],"orderRowFields":[],"inheritRoles":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"191-+YwAg01XLWGG3OuaFuDVL1+VtJI"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/productCategories/2
  response:
    body:
      string: '{"error":null,"metadata":null,"data":{"id":2,"name":"Digital Ads","parentId":0,"sortId":0,"roles":[],"orderRowFields":[],"inheritRoles":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8f-8CtjvMDphEFF+k8jskjR5VDqT/Y"
    status:
      code: 200
      message: OK
version: 1
