interactions:
- request:
    body: '{"client": {"id": 1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://power.upsales.com/api/v2/contacts
  response:
    body:
      string: '{"error":null,"data":{"id":716,"name":"","phone":null,"phoneCountryCode":null,"cellPhone":null,"cellPhoneCountryCode":null,"email":"","title":null,"notes":null,"client":{"operationalAccount":null,"addresses":[{"zipcode":"11120","country":"SE","address":"Vasagatan
        16 8TR","city":"Stockholm","latitude":59.33024,"municipality":null,"state":"STOCKHOLM","type":"Visit","longitude":18.059972},{"zipcode":"11120","country":"SE","address":"Vasagatan
        16 8TR","city":"Stockholm","latitude":59.33024,"municipality":null,"state":null,"type":"Invoice","longitude":18.059972},{"zipcode":"11120","country":"SE","address":"Vasagatan
        16, 8 tr","city":"STOCKHOLM","latitude":59.33024,"municipality":null,"state":"STOCKHOLM","type":"Other","longitude":18.059972},{"zipcode":"11120","country":"SE","address":"Vasagatan
        16 8TR","city":"Stockholm","latitude":59.33024,"municipality":null,"state":"STOCKHOLM","type":"Mail","longitude":18.059972}],"name":"Upsales
        Nordic AB","id":1,"users":[]},"regDate":"2025-11-07T01:23:34.000Z","regBy":{"name":"new+new+new
        api key","id":19},"active":1,"modDate":"2025-11-07T01:23:34.000Z","categories":[],"custom":[],"userRemovable":true,"userEditable":true,"projects":[],"segments":[],"unsubscribed":null,"score":0,"scoreUpdateDate":null,"connectedClients":[],"hasOrder":null,"hadOrder":null,"hasOpportunity":null,"hadOpportunity":null,"hasActivity":null,"hadActivity":null,"hasMail":false,"hasForm":false,"hasVisit":false,"hasAppointment":null,"hadAppointment":null,"unsubscribedMailCampaign":null,"importId":null,"optins":[],"socialEvent":[],"salutation":null,"titleCategory":null,"firstName":"","lastName":"","linkedin":null,"journeyStep":"lead","firstTouch":{"type":"Offline","primary":"ManuallyCreated","secondary":19,"date":"2025-11-07T01:23:34Z","contactId":716,"leadSourceId":null},"mailBounces":[],"emailBounceReason":"","supportTickets":{"hasOpen":false,"hasClosed":false},"isPriority":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"77f-NWZkfz8PuGtIwShbkGX62ItOuBQ"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
version: 1
