interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/pricelists?limit=1&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":11,"limit":1,"offset":0},"data":[{"id":1,"name":"Standard","code":null,"active":false,"isDefault":false,"showDiscount":false,"regDate":null,"modDate":"2025-01-22T12:51:26.000Z","modBy":1,"regBy":0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e9-9Lc0SAPChirOv8Ect+eEcNWc3Ns"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
version: 1
