interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/pricelists?limit=5&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":11,"limit":5,"offset":0},"data":[{"id":1,"name":"Standard","code":null,"active":false,"isDefault":false,"showDiscount":false,"regDate":null,"modDate":"2025-01-22T12:51:26.000Z","modBy":1,"regBy":0},{"id":2,"name":"Prislista
        A","code":"A","active":false,"isDefault":false,"showDiscount":false,"regDate":"2024-11-20T12:58:08.000Z","modDate":"2025-01-22T12:51:23.000Z","modBy":1,"regBy":2},{"id":3,"name":"Partner","code":"B","active":false,"isDefault":false,"showDiscount":false,"regDate":"2024-11-20T10:58:09.000Z","modDate":"2025-01-22T12:51:17.000Z","modBy":1,"regBy":2},{"id":4,"name":"Wholesaler","code":"C","active":false,"isDefault":false,"showDiscount":false,"regDate":"2025-01-22T10:48:44.000Z","modDate":"2025-01-22T12:51:29.000Z","modBy":1,"regBy":4},{"id":5,"name":"End
        Customer","code":"D","active":false,"isDefault":false,"showDiscount":false,"regDate":"2025-01-22T12:12:26.000Z","modDate":"2025-01-22T12:51:14.000Z","modBy":1,"regBy":4}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3d9-REJPaJZ/6ji844xoXSNnW3capgA"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '197'
      X-RateLimit-Reset:
      - '10'
    status:
      code: 200
      message: OK
version: 1
