interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/agreements?limit=1&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":137,"limit":1,"offset":0},"data":[{"id":1,"description":"Licenser","agreementGroupId":null,"notes":"","user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"client":{"operationalAccount":null,"journeyStep":"customer","name":"Ernst
        & Young Aktiebolag","id":101,"categories":[{"name":"Enterprise","id":5},{"name":"Hot
        Leads","id":8}],"users":[{"name":"Gustav Pettersson","id":1,"role":{"name":"Nordic
        Sales","id":1},"email":"demo_se@upsales.com"},{"name":"John Wilson","id":9,"role":{"name":"DACH
        Sales","id":2},"email":"demo_eng@upsales.com"}]},"contact":{"journeyStep":"customer","name":"Astrid
        Nielsen","id":1740},"project":null,"children":[],"regDate":"2019-08-25T07:44:32.000Z","stage":{"name":"Closed
        Deal","id":12},"modDate":"2025-11-20T23:05:13.000Z","clientConnection":null,"currencyRate":1,"currency":"SEK","custom":[],"orderRow":[{"id":1,"quantity":4,"price":995,"discount":0,"custom":[],"bundleRows":[],"productId":12,"tierQuantity":4,"sortId":1,"listPrice":1,"purchaseCost":0,"bundleFixedPrice":false,"product":{"purchaseCost":0,"name":"Subscription
        24 months","id":12,"category":{"name":"Subscription products","id":3},"projectPlanTemplate":null}}],"value":3980,"isParent":false,"parentId":null,"contributionMargin":3980,"contributionMarginInAgreementCurrency":3980,"purchaseCost":0,"yearlyContributionMargin":47760,"yearlyContributionMarginInAgreementCurrency":47760,"valueInMasterCurrency":3980,"yearlyValueInMasterCurrency":47760,"yearlyValue":47760,"metadata":{"agreementDescription":"Licenser","agreementStartdate":"2019-08-25","agreementEnddate":null,"agreementInvoiceStartdate":"2025-08-24","agreementInitialInvoiceStartdate":null,"agreementRenewalDate":"2026-08-24","agreementRenewalActivityCreated":null,"agreementNextOrderDate":"2025-12-22","agreementNextOrderDateReal":"2025-12-22","latestOrderCreationDate":"2025-11-21","agreementIntervalType":1,"agreementIntervalPeriod":1,"agreementOrderCreationTime":0,"willCreateMoreOrders":true,"noticePeriod":0,"noticeDate":"2026-08-24","periodLength":12,"agreementNotes":"","orderSequenceNr":76,"latestOrderId":19590,"versionNo":7,"activeVersionId":null,"custom":[]},"userRemovable":true,"userEditable":true,"regBy":null,"priceListId":1,"invoiceRelatedClient":false,"indexIncreaseId":null,"latestIndexIncreaseId":null,"latestIndexIncreaseDate":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"966-X2LFl3M6ds/b3NKXqeX2iweDg/U"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/agreements/1
  response:
    body:
      string: '{"error":null,"metadata":null,"data":{"id":1,"description":"Licenser","agreementGroupId":null,"notes":"","user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"client":{"operationalAccount":null,"journeyStep":"customer","name":"Ernst
        & Young Aktiebolag","id":101,"categories":[{"nam[...]
