interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/marketRejectlist?limit=10&offset=0
  response:
    body:
      string: '{"error":{"key":"ServerError","code":500,"errorCode":3,"msg":"Server
        error"},"metadata":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d-TO3Rk5Vx13SlaCBEN7s1AOtO31I"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '150'
      X-RateLimit-Reset:
      - '4'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/marketRejectlist?limit=10&offset=0
  response:
    body:
      string: '{"error":{"key":"ServerError","code":500,"errorCode":3,"msg":"Server
        error"},"metadata":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d-TO3Rk5Vx13SlaCBEN7s1AOtO31I"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 500
      message: Internal Server Error
version: 1
