interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/activityQuota?limit=10&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":12,"limit":10,"offset":0},"data":[{"id":1,"user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"created":30,"performed":0,"activityType":{"id":9,"name":"Email"},"month":2,"year":2021},{"id":3,"user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"created":20,"performed":0,"activityType":{"id":9,"name":"Email"},"month":7,"year":2021},{"id":3,"user":{"role":{"name":"Nordic
        Sales","id":1},"name":"Gustav Pettersson","id":1,"email":"demo_se@upsales.com"},"created":20,"performed":0,"activityType":{"id":9,"name":"Email"},"month":9,"year":2021},{"id":1,"user":{"role":{"name":"Nordic
        Sales","id":1},[...]
