interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://power.upsales.com/api/v2/activityQuota?limit=5&offset=0
  response:
    body:
      string: '{"error":null,"metadata":{"total":0,"offset":0,"limit":5},"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"44-p3AkzRe8mbIap51Fb2awNtY9NKo"
      X-RateLimit-Limit:
      - '200'
      X-RateLimit-Remaining:
      - '199'
      X-RateLimit-Reset:
      - '-2'
    status:
      code: 200
      message: OK
version: 1
